<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/invention?useUnicode=true&#38;characterEncoding=utf8</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
 
		<mapping class="logic.invention.Invention"/>
		<mapping class="logic.invention.InventionField"/>
		<mapping class="logic.invention.InventionRegistrationRequest"/>
		<mapping class="logic.invention.Share"/>
		<mapping class="logic.invention.operation.Change"/>
		<mapping class="logic.invention.operation.InventionLog"/>
		<mapping class="logic.invention.operation.InvestigationLog"/>
		<mapping class="logic.member.Company"/>
		<mapping class="logic.member.User"/>
		<mapping class="logic.member.CompanyRegistrationRequest"/>
		<mapping class="logic.member.Manager"/>
		<mapping class="logic.member.UserRegistrationRequest"/>
 		 
    </session-factory>
</hibernate-configuration>
